/****** PÁGINA PRINCIPAL ******/

body {
	background-color: #E4DEBC;
}

/*.container-header {
	/*width: 100%;
	height: 150px;
	background-color: #3F291E;
	margin-bottom: 20px;
	padding-right:0px;
	margin-left:0px;
	height: 150px;
	background-color: #3F291E;
}*/

/*** HEADER ***/

#row_navbar
{
	padding-right:0px;
	margin-left:0px;
	height: 150px;
	background-color: #3F291E;
}

#image_navbar
{
	/*width:100%;*/
	height: 150px;
	padding-right: 0px;
	position: left;
	right: 1500px;
}

.menu-option {
	color: #E4DEBC;
	text-align:center;
	font-family: 'Dancing Script', cursive;
	font-size: 18pt;
}

.menu-option a {
	text-decoration:none;
	color: #E4DEBC;
	transition: 1s;
    -webkit-transition: 1s;
}

.menu-option a:hover {
	text-decoration:none;
	color: #1A8FA0;
	transition: 1s;
    -webkit-transition: 1s;
}

.container-menu {
	position:relative;
	background-color: #3F291E;
	margin-top: -3px;
	margin-botton: 0px;
	z-index: 9999;
}

/****** REDES SOCIALES ******/

a {
  color: #fff;
  text-decoration: none;
}
.social {
  position: fixed;
  top: 200px;
  margin-left:80px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 0px;
  background: rgba(0, 0, 0, 0.36);
  width: 150px;
  text-align: right;
  padding: 2px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(50px, 0);
  -moz-transform: translate(50px, 0);
  -ms-transform: translate(50px, 0);
  -o-transform: translate(50px, 0);
  transform: translate(50px, 0);
  /*background: rgba(255, 255, 255, 0.4);*/
}
.social ul li:hover a {
  color: #fff;
  text-decoration: none;
}
.social ul li:hover i {
  color: #795548;
  /*background: red;*/
  /*-webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 0px;
  color: #000;
  background: #fff;
  padding: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  /*-webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);*/
}

/****** MAIN SLIDER ******/


#jung1 {
	height: 400px; 	
}

#imag1 {
	height: 400px;
}

/****** FOOTER ******/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #3e2723;
  text-align: center;
}

.container-footer{
  margin-top: 50px;
  color: #fff;
  width: 100%;
  padding: 20px;
}

.container-social {
	float:right;
	width: 50%;
}

/*.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}*/

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
	color: white;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}