*{
	padding:0px;
	margin:0px;
}

.hist{
	color:#783506;
	font-family:avenir-lt-w01_35-light1475496,cursiva-serif;
	font-size:25px;
	text-align:center;
}

.hist1{
	color:#783506;
	font-family:avenir-lt-w01_35-light1475496,cursiva-serif;
	font-size:70px;
	text-align:center;
}

#sega{
	display:none;
}

.catalog1
{
width : 200px;
height : 200px;
margin : 20px;
border-radius: 15px 15px 15px 15px;
border-style:ridge;
}

.slider1
{
	width : 800px;
	height : 400px;
}

.carousel-inner
{
	
}

#carousel
{
	margin-left : 200px;
}

/* Ajuste de Imagenes */

.custom {
	
	min-height: 400px;
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%, auto; 
	background-image:url("../images/navidad2.jpg");
}

.ima1{
	height:400px; width:256px;
	display: none;
	position: absolute;
	bottom: 0px;
	background-image:url("../images/img1.jpg") ;
	background-repeat: no-repeat;
	background-size:100% 100%, auto;
	background-attachment:local;
}

.ima2{
	height:400px; width:256px;
	display: none;
	position: absolute;
	bottom: 0px;
	background-image:url("../images/img5.jpg") ;
	background-repeat: no-repeat;
	background-size:100% 100%, auto;
	background-attachment:local;
}

.ima3{
	height:400px; width:256px;
	display: none;
	position: absolute;
	bottom: 0px;
	background-image:url("../images/navidad.jpg") ;
	background-repeat: no-repeat;
	background-size:100% 100%, auto;
	background-attachment:local;
}

.ima4{
	height:400px; width:256px;
	display: none;
	position: absolute;
	bottom: 0px;
	background-image:url("../images/productos1.jpg") ;
	background-repeat: no-repeat;
	background-size:100% 100%, auto;
	background-attachment:local;
}